name: Deploy v1 snapshot image to GHCR

on:
  push:
    branches:
      - 'feature/update-v1-module-name'

jobs:
  docker-publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./legacy
          file: ./legacy/Dockerfile
          push: true
          tags: ghcr.io/qubic/archive-query-service-v1:snapshot